@page "/Credits"

<PageTitle>Credits</PageTitle>

<h1>Credits</h1>

<p>This is an open-source code. 
This software is available at Github. Please you can collaborate with this project to visualize algoritms.</p>

<br>

<h2>Platform</h2>
<ul>
    <li>Blazor .net Core 6 (LTS)

    </li>
</ul>


<h2>Collaborators</h2>

<ul>
    <li>Alfonso Bastias: The Knight's Tour  </li> 

</ul>

