@page "/Credits"

<PageTitle>Credits</PageTitle>

<h1>Open-Source</h1>

<p>This is an open-source code. You can find the code at <a href="https://github.com/abastias/VisualAlgorithms" target="_blank">GitHub</a>.
If you like it, your help is appreciate.</p>

<br>

<h2>Platform</h2>
<ul>
    <li>Blazor .net Core 6 (LTS)

    </li>
</ul>


<h2>Collaborators</h2>

<ul>
    <li><a href="https://github.com/abastias" target="_blank">Alfonso Bastias</a>
        <ul><li>The Knight's Tour</li>
            <li>Sort - Bubble Sort</li>
            <li>Sort - Selection Sort</li>
            </ul>
        </li> 

</ul>

