@page "/"

<PageTitle>Home - Visual Algorithms</PageTitle>

<h1>Visual Algorithms</h1>

<p>Seeing an execution of any algorithm in visual form allows students to better understand the advantages and disadvantages in the context of use.</p>

<p>The prupose of this open-source is let user to see simple algoriths execution like Sorting Algorithms, and the Knight's tour problem. </p>

<p>Your help is welcome. You can add new algorithms or improve the visualization approach.</p>