@page "/"

<PageTitle>Home - Visual Algorithms</PageTitle>

<h1>Visual Algorithms</h1>

<p>Seeing an execution of any algorithm in visual form allows students to better understand the advantages and
    disadvantages in the context of use.</p>

<p>The prupose of this open-source project is let user to see simple algoriths execution. Your help is welcome. You can improve or add new algorithms to the system.</p>

<div class="container-sm">
    <div class="row">
         <div class="col-4 text-center">
            <a href="PathFinder">
                <span>
                    <span class="iconify" data-icon="ph:path-bold" style="font-size:20px;"></span>&nbsp;&nbsp;
                    PathFinder<br>
                    <img src="/images/Pathfinder.png" alt="Pathfinder" height="170px">
                </span>
            </a>

        </div>
        
         <div class="col-4 text-center">
            <a href="Pi">
                <span>
                    <span class="iconify" data-icon="fluent:pi-20-filled" style="font-size:20px;"></span>&nbsp;&nbsp;
                    Pi Calc<br>
                    <img src="/images/Pi_Montecarlo.png" alt="PI Calc" height="220px">
                </span>
            </a>

        </div>
        <div class="col-4 text-center">
            <a href="KnightsTour">
                <span>
                    <span class="iconify" data-icon="akar-icons:chess" style="font-size:20px;"></span>&nbsp;&nbsp;
                    Knight's Tour<br>
                    <img src="/images/knightTourAnimation.gif" alt="The Knight's Tour" height="220px">
                </span>
            </a>

        </div>
        <div class="col-4 text-center">
            <a href="Sort">
                Sort Algorithms
                <img src="/images/Sort.png" height="200px">
            </a>
        </div>


    </div>


</div>

