@page "/"

<PageTitle>Home - Visual Algorithms</PageTitle>

<h1>Hello, world!</h1>

<p>The prupose of this open-source is let user to see simple algoriths execution like Sorting Algorithms, and the Knight's tour problem. </p>

<p>You can help adding new algorithms to this platform.</p>